body {
    padding: 50px 0 200px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bitter", serif;
    font-weight: 400;
}

nav#links {
    margin-top: 149px;
}

/* nav#links > a { float: left; }  */
/* nav#links > a + a:before { display: block; float: left; content: ' | '; } */

.constant {
 color: #25536D;
}

a, a:visited {
  color: #25536D;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover, a:focus {
 color: black;
}

a.anchor {
  text-decoration: none;
  border-bottom: unset;
}

p {
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
}

p#pitch {
    text-align: left;
}

pre, tt, kbd, code {
  font-family: 'Inconsolata', 'Consolas', monospace;
}

#sample-project {
    font-size: 16px;
}

hr {
    margin: 35px 0;
}

h3 {
    margin: 21px 0;
}

#footer p {
    text-align: center;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(/inconsolata.ttf) format('truetype');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url(/bitter.ttf) format('truetype');
}
