    <div class="sixteen columns"><hr /></div>

    <div class="sixteen columns" id="footer">
        <p>&copy; 2012-2022 Phil Hagelberg
        and contributors. Licensed under
        the <a href="https://codeberg.org/leiningen/leiningen/src/stable/COPYING">EPL
        1.0</a>. See the code
        for <a href="https://codeberg.org/leiningen/leiningen/src/main/web">this
        site</a>.</p>
    </div>
    </div><!-- container -->
